# Local .terraform directories
**/.terraform/*

# Archivos de variables
s

# Archivos de estado de Terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignorar archivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorar el archivo de CLI de Terraform
.terraformrc
terraform.rc

.idea/

